# Configurações do SQL Server
DB_USER=sa
DB_PASSWORD=YourStrong@Passw0rd
DB_NAME=rust_cast_db
DB_PORT=1433

# Configurações do Redis
REDIS_CACHE_PORT=27002

# Configurações da API Principal
API_PORT=8000
RUST_LOG=info

# Configurações das APIs individuais
AUTH_API_PORT=3001
ADMIN_API_PORT=3002
VIEWER_API_PORT=3003

# Configurações JWT
JWT_ACCESS_SECRET=your-super-secret-access-key-here
JWT_REFRESH_SECRET=your-super-secret-refresh-key-here
JWT_ACCESS_EXPIRY_HOURS=1
JWT_REFRESH_EXPIRY_DAYS=7

# Configurações do Azurite (Azure Storage Emulator)
AZURE_CAST_RUST_ACCOUNT_NAME=
AZURE_CAST_RUST_ACCOUNT_KEY=
AZURE_CAST_RUST_BLOB_PORT=10000
AZURE_CAST_RUST_QUEUE_PORT=10001
AZURE_CAST_RUST_TABLE_PORT=10002

AZURE_CAST_RUST_VIDEO_CONTAINER='video'
AZURE_CAST_RUST_STORAGE_URL="http://0.0.0.0:10000/${AZURE_CAST_RUST_ACCOUNT_NAME}"


# Configurações de logging
RUST_LOG=info
